In [1]:
import pandas as pd
import streamlit as st

In [2]:
df = pd.read_csv('~/downloads/baseball_hitting.csv')

In [3]:
print(df.sample(5))

       Player name position   Games  At-bat   Runs    Hits  Double (2B)  \
1053   K Kiermaier       CF   916.0  3062.0  411.0   760.0        140.0
270   P Incaviglia       LF  1284.0  4233.0  546.0  1043.0        194.0
767     B Campbell       RF  1360.0  4762.0  759.0  1382.0        295.0
1644      T Joseph       1B   249.0   810.0   98.0   200.0         42.0
1457       R Garko       1B   463.0  1552.0  190.0   427.0         75.0

      third baseman  home run  run batted in  a walk Strikeouts  stolen base   \
1053           51.0      82.0          316.0   236.0        737         112.0
270            21.0     206.0          655.0   360.0       1277          33.0
767            87.0     106.0          766.0   548.0        584          53.0
1644            1.0      43.0          116.0    55.0        204           2.0
1457            3.0      55.0          250.0   125.0        272           0.0

     Caught stealing    AVG  On-base Percentage  Slugging Percentage  \
1053              36  0.248               0.308                0.408
270               26  0.246               0.310                0.448
767               50  0.290               0.367                0.455
1644               1  0.247               0.297                0.460
1457               1  0.275               0.347                0.434

      On-base Plus Slugging
1053                  0.716
270                   0.758
767                   0.822
1644                  0.757
1457                  0.781

In [4]:
df = df.rename(columns ={'Player name' : 'player_name', 'At-bat' : 'at_bats', 'Games' : 'games', 'Runs' : 'runs', 'Hits' : 'hits', 'Double (2B)' : 'double', 'third baseman' : 'triple', 'home run': 'home_runs',
'run batted in' : 'RBI', 'a walk' : 'walks', 'Strikeouts' : 'strikeouts', 'stolen base' : 'stolen_bases', 'Caught stealing' : 'caught_stealing', 'On-base Percentage' : 'on_base_%', 'Slugging Percentage' : 'slugging_%',
'On-base Plus Slugging' : 'OPS'})

In [5]:
df.sample(5)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2508 entries, 0 to 2507
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   player_name      2500 non-null   object
 1   position         2500 non-null   object
 2   games            2500 non-null   float64
 3   at_bats          2500 non-null   float64
 4   runs             2500 non-null   float64
 5   hits             2500 non-null   float64
 6   double           2500 non-null   float64
 7   triple           2500 non-null   float64
 8   home_runs        2500 non-null   float64
 9   RBI              2500 non-null   float64
 10  walks            2500 non-null   float64
 11  strikeouts       2500 non-null   object
 12  stolen base      2500 non-null   float64
 13  caught_stealing  2500 non-null   object
 14  AVG              2500 non-null   float64
 15  on_base_%        2500 non-null   float64
 16  slugging_%       2500 non-null   float64
 17  OPS              2488 non-null   float64
dtypes: float64(14), object(4)
memory usage: 352.8+ KB

In [6]:
df.sample(25)
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2488 entries, 0 to 2507
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   player_name      2488 non-null   object
 1   position         2488 non-null   object
 2   games            2488 non-null   float64
 3   at_bats          2488 non-null   float64
 4   runs             2488 non-null   float64
 5   hits             2488 non-null   float64
 6   double           2488 non-null   float64
 7   triple           2488 non-null   float64
 8   home_runs        2488 non-null   float64
 9   RBI              2488 non-null   float64
 10  walks            2488 non-null   float64
 11  strikeouts       2488 non-null   object
 12  stolen base      2488 non-null   float64
 13  caught_stealing  2488 non-null   object
 14  AVG              2488 non-null   float64
 15  on_base_%        2488 non-null   float64
 16  slugging_%       2488 non-null   float64
 17  OPS              2488 non-null   float64
dtypes: float64(14), object(4)
memory usage: 369.3+ KB

In [7]:
import plotly.express as px

In [8]:
st.header('This shows hitting stats throughout Mlb history')

2023-04-16 08:32:13.160
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run c:\Users\jason_ef59wex\anaconda3\lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)

In [9]:
df_hrs = df.groupby('position')['home_runs'].mean()
df_hrs

position
1B    131.231638
2B     70.518382
3B    103.144876
C      76.520710
CF     97.764706
DH    193.485714
LF    109.701807
OF     90.946667
P      26.785714
RF    123.278351
SS     79.243243
Name: home_runs, dtype: float64

In [10]:
df_doubles = df.groupby('position')['double'].mean()
df_doubles

position
1B    196.663842
2B    190.705882
3B    183.148410
C     130.532544
CF    191.147059
DH    238.628571
LF    178.388554
OF    175.826667
P      58.500000
RF    188.852234
SS    209.774775
Name: double, dtype: float64

In [33]:
fig = px.histogram(df, x='double', color ='position')
st.plotly_chart(fig, theme='streamlit', use_container_width=True)

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)