In [2]:
import pandas as pd
import streamlit as st

In [3]:
df = pd.read_csv('~/downloads/baseball_hitting.csv')

In [4]:
print(df.sample(5))

      Player name position   Games  At-bat    Runs    Hits  Double (2B)  \
1412   A Phillips       CF   649.0  1875.0   270.0   463.0         86.0
228   D Mattingly       1B  1785.0  7003.0  1007.0  2153.0        442.0
295       R White       LF  1474.0  5357.0   756.0  1519.0        296.0
1522     M Margot       RF   691.0  2306.0   276.0   585.0        112.0
1963     J Tinker       SS  1652.0  6434.0   774.0  1687.0        263.0

      third baseman  home run  run batted in  a walk Strikeouts  stolen base   \
1412           21.0      59.0          173.0   251.0        485          82.0
228            20.0     222.0         1099.0   588.0        444          14.0
295            34.0     198.0          768.0   360.0        925          94.0
1522           24.0      48.0          245.0   179.0        454          82.0
1963          114.0      31.0          782.0   416.0        149         336.0

     Caught stealing    AVG  On-base Percentage  Slugging Percentage  \
1412              44  0.247               0.343                0.410
228                9  0.307               0.358                0.471
295               47  0.284               0.336                0.462
1522              36  0.254               0.308                0.386
1963              --  0.262               0.308                0.353

      On-base Plus Slugging
1412                  0.753
228                   0.829
295                   0.798
1522                  0.694
1963                  0.661

In [5]:
df = df.rename(columns ={'Player name' : 'player_name', 'At-bat' : 'at_bats', 'Games' : 'games', 'Runs' : 'runs', 'Hits' : 'hits', 'Double (2B)' : 'doubles', 'third baseman' : 'triples', 'home run': 'home_runs',
'run batted in' : 'RBI', 'a walk' : 'walks', 'Strikeouts' : 'strikeouts', 'stolen base' : 'stolen_bases', 'Caught stealing' : 'caught_stealing', 'On-base Percentage' : 'on_base_%', 'Slugging Percentage' : 'slugging_%',
'On-base Plus Slugging' : 'OPS'})

In [6]:
df.sample(5)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2508 entries, 0 to 2507
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   player_name      2500 non-null   object
 1   position         2500 non-null   object
 2   games            2500 non-null   float64
 3   at_bats          2500 non-null   float64
 4   runs             2500 non-null   float64
 5   hits             2500 non-null   float64
 6   doubles          2500 non-null   float64
 7   triples          2500 non-null   float64
 8   home_runs        2500 non-null   float64
 9   RBI              2500 non-null   float64
 10  walks            2500 non-null   float64
 11  strikeouts       2500 non-null   object
 12  stolen base      2500 non-null   float64
 13  caught_stealing  2500 non-null   object
 14  AVG              2500 non-null   float64
 15  on_base_%        2500 non-null   float64
 16  slugging_%       2500 non-null   float64
 17  OPS              2488 non-null   float64
dtypes: float64(14), object(4)
memory usage: 352.8+ KB

In [7]:
df.sample(25)
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2488 entries, 0 to 2507
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   player_name      2488 non-null   object
 1   position         2488 non-null   object
 2   games            2488 non-null   float64
 3   at_bats          2488 non-null   float64
 4   runs             2488 non-null   float64
 5   hits             2488 non-null   float64
 6   doubles          2488 non-null   float64
 7   triples          2488 non-null   float64
 8   home_runs        2488 non-null   float64
 9   RBI              2488 non-null   float64
 10  walks            2488 non-null   float64
 11  strikeouts       2488 non-null   object
 12  stolen base      2488 non-null   float64
 13  caught_stealing  2488 non-null   object
 14  AVG              2488 non-null   float64
 15  on_base_%        2488 non-null   float64
 16  slugging_%       2488 non-null   float64
 17  OPS              2488 non-null   float64
dtypes: float64(14), object(4)
memory usage: 369.3+ KB

In [8]:
import plotly.express as px

In [9]:
st.header('This shows hitting stats throughout Mlb history')

2023-04-17 14:17:38.886
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run c:\Users\jason_ef59wex\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

DeltaGenerator()

In [ ]:
fig = px.histogram(df, x='double', color ='position')
st.plotly_chart(fig, theme='streamlit', use_container_width=True)

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)

In [12]:
df.info(
    
)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2488 entries, 0 to 2507
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   player_name      2488 non-null   object
 1   position         2488 non-null   object
 2   games            2488 non-null   float64
 3   at_bats          2488 non-null   float64
 4   runs             2488 non-null   float64
 5   hits             2488 non-null   float64
 6   doubles          2488 non-null   float64
 7   triples          2488 non-null   float64
 8   home_runs        2488 non-null   float64
 9   RBI              2488 non-null   float64
 10  walks            2488 non-null   float64
 11  strikeouts       2488 non-null   object
 12  stolen base      2488 non-null   float64
 13  caught_stealing  2488 non-null   object
 14  AVG              2488 non-null   float64
 15  on_base_%        2488 non-null   float64
 16  slugging_%       2488 non-null   float64
 17  OPS              2488 non-null   float64
dtypes: float64(14), object(4)
memory usage: 369.3+ KB

In [16]:
df['strikeouts'] = df['strikeouts'].astype('int')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2488 entries, 0 to 2507
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   player_name      2488 non-null   object
 1   position         2488 non-null   object
 2   games            2488 non-null   float64
 3   at_bats          2488 non-null   float64
 4   runs             2488 non-null   float64
 5   hits             2488 non-null   float64
 6   doubles          2488 non-null   float64
 7   triples          2488 non-null   float64
 8   home_runs        2488 non-null   float64
 9   RBI              2488 non-null   float64
 10  walks            2488 non-null   float64
 11  strikeouts       2488 non-null   int32
 12  stolen base      2488 non-null   float64
 13  caught_stealing  2488 non-null   object
 14  AVG              2488 non-null   float64
 15  on_base_%        2488 non-null   float64
 16  slugging_%       2488 non-null   float64
 17  OPS              2488 non-null   float64
dtypes: float64(14), int32(1), object(3)
memory usage: 359.6+ KB

In [18]:
df.sample(5)

,player_name,position,games,at_bats,runs,hits,doubles,triples,home_runs,RBI,walks,strikeouts,stolen base,caught_stealing,AVG,on_base_%,slugging_%,OPS
840,M DeRosa,3B,1241.0,3633.0,538.0,975.0,196.0,12.0,100.0,494.0,358.0,707,23.0,18,0.268,0.340,0.412,0.752
307,J Bell,SS,2063.0,7398.0,1123.0,1963.0,394.0,67.0,195.0,860.0,853.0,1443,91.0,60,0.265,0.343,0.416,0.759
656,B Jacoby,3B,1311.0,4520.0,535.0,1220.0,204.0,24.0,120.0,545.0,439.0,764,16.0,25,0.270,0.334,0.405,0.739
2068,J Hannahan,3B,614.0,1650.0,167.0,381.0,93.0,5.0,29.0,175.0,193.0,440,6.0,4,0.231,0.314,0.346,0.660
2306,G Beckert,2B,1320.0,5208.0,685.0,1473.0,196.0,31.0,22.0,360.0,260.0,243,49.0,25,0.283,0.318,0.345,0.663