In [21]:
import pandas as pd
import streamlit as st

In [22]:
df = pd.read_csv('C:/Users/jason_ef59wex/Projects/sprint4-mlb-hitting/baseball_hitting.csv')

In [23]:
print(df.sample(5))

       Player name position   Games  At-bat    Runs    Hits  Double (2B)  \
2064      J Tipton        C   417.0  1117.0   116.0   264.0         36.0
349      T Henrich       RF  1284.0  4603.0   901.0  1297.0        269.0
855       G Torres       2B   579.0  2108.0   293.0   558.0        100.0
1985  K Higashioka        C   223.0   620.0    71.0   124.0         25.0
86          J Mize       1B  1883.0  6443.0  1118.0  2011.0        367.0

      third baseman  home run  run batted in  a walk Strikeouts  stolen base   \
2064            5.0      29.0          125.0   186.0        142           3.0
349            73.0     183.0          795.0   712.0        383          37.0
855             2.0      99.0          312.0   203.0        513          38.0
1985            0.0      31.0           88.0    37.0        170           0.0
86             83.0     359.0         1337.0   856.0        524          28.0

     Caught stealing    AVG  On-base Percentage  Slugging Percentage  \
2064               3  0.236               0.351                0.355
349               19  0.282               0.382                0.491
855               15  0.265               0.331                0.455
1985               1  0.200               0.245                0.390
86                 1  0.312               0.397                0.562

      On-base Plus Slugging
2064                  0.706
349                   0.873
855                   0.786
1985                  0.635
86                    0.959

In [24]:
df = df.rename(columns ={'Player name' : 'player_name', 'At-bat' : 'at_bats', 'Games' : 'games', 'Runs' : 'runs', 'Hits' : 'hits', 'Double (2B)' : 'doubles', 'third baseman' : 'triples', 'home run': 'home_runs',
'run batted in' : 'RBI', 'a walk' : 'walks', 'Strikeouts' : 'strikeouts', 'stolen base' : 'stolen_bases', 'Caught stealing' : 'caught_stealing', 'On-base Percentage' : 'on_base_%', 'Slugging Percentage' : 'slugging_%',
'On-base Plus Slugging' : 'OPS'})

In [25]:
df.sample(5)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2508 entries, 0 to 2507
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   player_name      2500 non-null   object
 1   position         2500 non-null   object
 2   games            2500 non-null   float64
 3   at_bats          2500 non-null   float64
 4   runs             2500 non-null   float64
 5   hits             2500 non-null   float64
 6   doubles          2500 non-null   float64
 7   triples          2500 non-null   float64
 8   home_runs        2500 non-null   float64
 9   RBI              2500 non-null   float64
 10  walks            2500 non-null   float64
 11  strikeouts       2500 non-null   object
 12  stolen base      2500 non-null   float64
 13  caught_stealing  2500 non-null   object
 14  AVG              2500 non-null   float64
 15  on_base_%        2500 non-null   float64
 16  slugging_%       2500 non-null   float64
 17  OPS              2488 non-null   float64
dtypes: float64(14), object(4)
memory usage: 352.8+ KB

In [26]:
df.sample(25)
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2488 entries, 0 to 2507
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   player_name      2488 non-null   object
 1   position         2488 non-null   object
 2   games            2488 non-null   float64
 3   at_bats          2488 non-null   float64
 4   runs             2488 non-null   float64
 5   hits             2488 non-null   float64
 6   doubles          2488 non-null   float64
 7   triples          2488 non-null   float64
 8   home_runs        2488 non-null   float64
 9   RBI              2488 non-null   float64
 10  walks            2488 non-null   float64
 11  strikeouts       2488 non-null   object
 12  stolen base      2488 non-null   float64
 13  caught_stealing  2488 non-null   object
 14  AVG              2488 non-null   float64
 15  on_base_%        2488 non-null   float64
 16  slugging_%       2488 non-null   float64
 17  OPS              2488 non-null   float64
dtypes: float64(14), object(4)
memory usage: 369.3+ KB

In [27]:
import plotly.express as px

In [28]:
st.header('This shows hitting stats throughout Mlb history')

DeltaGenerator()

In [29]:
df.info(
    
)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2488 entries, 0 to 2507
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   player_name      2488 non-null   object
 1   position         2488 non-null   object
 2   games            2488 non-null   float64
 3   at_bats          2488 non-null   float64
 4   runs             2488 non-null   float64
 5   hits             2488 non-null   float64
 6   doubles          2488 non-null   float64
 7   triples          2488 non-null   float64
 8   home_runs        2488 non-null   float64
 9   RBI              2488 non-null   float64
 10  walks            2488 non-null   float64
 11  strikeouts       2488 non-null   object
 12  stolen base      2488 non-null   float64
 13  caught_stealing  2488 non-null   object
 14  AVG              2488 non-null   float64
 15  on_base_%        2488 non-null   float64
 16  slugging_%       2488 non-null   float64
 17  OPS              2488 non-null   float64
dtypes: float64(14), object(4)
memory usage: 369.3+ KB

In [30]:
df['strikeouts'] = df['strikeouts'].astype('int')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2488 entries, 0 to 2507
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   player_name      2488 non-null   object
 1   position         2488 non-null   object
 2   games            2488 non-null   float64
 3   at_bats          2488 non-null   float64
 4   runs             2488 non-null   float64
 5   hits             2488 non-null   float64
 6   doubles          2488 non-null   float64
 7   triples          2488 non-null   float64
 8   home_runs        2488 non-null   float64
 9   RBI              2488 non-null   float64
 10  walks            2488 non-null   float64
 11  strikeouts       2488 non-null   int32
 12  stolen base      2488 non-null   float64
 13  caught_stealing  2488 non-null   object
 14  AVG              2488 non-null   float64
 15  on_base_%        2488 non-null   float64
 16  slugging_%       2488 non-null   float64
 17  OPS              2488 non-null   float64
dtypes: float64(14), int32(1), object(3)
memory usage: 359.6+ KB

In [31]:
df.sample(5)

,player_name,position,games,at_bats,runs,hits,doubles,triples,home_runs,RBI,walks,strikeouts,stolen base,caught_stealing,AVG,on_base_%,slugging_%,OPS
1230,A Simmons,SS,1226.0,4441.0,501.0,1169.0,201.0,23.0,70.0,444.0,304.0,461,72.0,24,0.263,0.312,0.366,0.678
1463,C Widger,C,613.0,1826.0,180.0,435.0,104.0,7.0,55.0,222.0,141.0,384,10.0,9,0.238,0.296,0.393,0.689
1575,D Ackley,2B,635.0,2125.0,261.0,512.0,94.0,18.0,46.0,216.0,194.0,419,31.0,12,0.241,0.304,0.367,0.671
394,J Hart,3B,1125.0,3783.0,518.0,1052.0,148.0,29.0,170.0,578.0,380.0,573,17.0,17,0.278,0.345,0.467,0.812
1233,D Williams,LF,1023.0,2959.0,358.0,768.0,157.0,12.0,70.0,331.0,227.0,392,12.0,21,0.260,0.312,0.392,0.704

In [32]:
df.to_csv('C:/Users/jason_ef59wex/Projects/sprint4-mlb-hitting/baseball_hitting_pp.csv')