In [7]:
import pandas as pd
import streamlit as st

In [8]:
df = pd.read_csv('~/downloads/baseball_hitting.csv')

In [9]:
print(df.sample(5))

      Player name position  Games  At-bat   Runs   Hits  Double (2B)  \
1297       L Bell       3B  896.0  3239.0  404.0  938.0        184.0
1743    E Coleman       RF  439.0  1337.0  193.0  381.0         67.0
2261  M de la Hoz       3B  494.0  1114.0  116.0  280.0         42.0
1320     T Grieve       LF  671.0  1907.0  209.0  474.0         76.0
1704     D Varsho       LF  286.0   928.0  138.0  217.0         46.0

      third baseman  home run  run batted in  a walk Strikeouts  stolen base   \
1297           49.0      66.0          509.0   276.0        322          25.0
1743           23.0      40.0          246.0   117.0        152           1.0
2261            5.0      25.0          115.0    56.0        130           2.0
1320           10.0      65.0          254.0   135.0        424           7.0
1704            7.0      41.0          123.0    90.0        250          26.0

     Caught stealing    AVG  On-base Percentage  Slugging Percentage  \
1297               5  0.290               0.346                0.438
1743               3  0.285               0.345                0.459
2261               3  0.251               0.290                0.365
1320               7  0.249               0.301                0.401
1704               7  0.234               0.306                0.431

      On-base Plus Slugging
1297                  0.784
1743                  0.804
2261                  0.655
1320                  0.702
1704                  0.737

In [11]:
df = df.rename(columns ={'Player name' : 'player_name', 'At-bat' : 'at_bats', 'Games' : 'games', 'Runs' : 'runs', 'Hits' : 'hits', 'Double (2B)' : 'double', 'third baseman' : 'triple', 'home run': 'home_runs',
'run batted in' : 'RBI', 'a walk' : 'walks', 'Strikeouts' : 'strikeouts', 'stolen base' : 'stolen_bases', 'Caught stealing' : 'caught_stealing', 'On-base Percentage' : 'on_base_%', 'Slugging Percentage' : 'slugging_%',
'On-base Plus Slugging' : 'OPS'})

In [13]:
df.sample(5)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2508 entries, 0 to 2507
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   player_name      2500 non-null   object
 1   position         2500 non-null   object
 2   games            2500 non-null   float64
 3   at_bats          2500 non-null   float64
 4   runs             2500 non-null   float64
 5   hits             2500 non-null   float64
 6   double           2500 non-null   float64
 7   triple           2500 non-null   float64
 8   home_runs        2500 non-null   float64
 9   RBI              2500 non-null   float64
 10  walks            2500 non-null   float64
 11  strikeouts       2500 non-null   object
 12  stolen base      2500 non-null   float64
 13  caught_stealing  2500 non-null   object
 14  AVG              2500 non-null   float64
 15  on_base_%        2500 non-null   float64
 16  slugging_%       2500 non-null   float64
 17  OPS              2488 non-null   float64
dtypes: float64(14), object(4)
memory usage: 352.8+ KB

In [30]:
df.sample(25)
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2488 entries, 0 to 2507
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   player_name      2488 non-null   object
 1   position         2488 non-null   object
 2   games            2488 non-null   float64
 3   at_bats          2488 non-null   float64
 4   runs             2488 non-null   float64
 5   hits             2488 non-null   float64
 6   double           2488 non-null   float64
 7   triple           2488 non-null   float64
 8   home_runs        2488 non-null   float64
 9   RBI              2488 non-null   float64
 10  walks            2488 non-null   float64
 11  strikeouts       2488 non-null   object
 12  stolen base      2488 non-null   float64
 13  caught_stealing  2488 non-null   object
 14  AVG              2488 non-null   float64
 15  on_base_%        2488 non-null   float64
 16  slugging_%       2488 non-null   float64
 17  OPS              2488 non-null   float64
dtypes: float64(14), object(4)
memory usage: 369.3+ KB